<div>
    <h2 translate="goalBuddyApp.todo.home.title">Todos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="todo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="goalBuddyApp.todo.home.createLabel">
                        Create new Todo
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'goalBuddyApp.todo.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="goalBuddyApp.todo.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="goalBuddyApp.todo.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span translate="goalBuddyApp.todo.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span translate="goalBuddyApp.todo.endDate">End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="priority"><span translate="goalBuddyApp.todo.priority">Priority</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="todo in vm.todos track by todo.id">
                    <td><a ui-sref="todo-detail({id:todo.id})">{{todo.id}}</a></td>
                    <td>{{todo.name}}</td>
                    <td>{{todo.description}}</td>
                    <td>{{todo.startDate | date:'medium'}}</td>
                    <td>{{todo.endDate | date:'medium'}}</td>
                    <td>{{todo.priority}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="todo-detail({id:todo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="todo.edit({id:todo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="todo.delete({id:todo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
